.rectangle{
    
    width: 31px;
    height: 100px;
    background-color: #565555;
    margin: 3px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: height 0.3s ease;
}
#array {
    padding-top: 2em;
    
    
    
}

.bucket {
    overflow: hidden;
}
.same{
    height: 100px;
}



.rectangle.highlighted {
    background-color: red;
    color: white;
  }



.rectangle.sorted {
    background-color: green; 
}


.custom-margin {
    margin-left: 220px; 
}

.card img {
    filter: grayscale(90%);
}

.dot {
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
body{
    font-family: 'Great Vibes', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.custom-border {
    margin-left: 15%;
    margin-right: 15%;
}

.zalety-border {
    margin-right: 7%;
}

.wady-border {
    margin-left: 7%;
}



