.rectangle{
    
    width: 31px;
    height: 100px;
    background-color: #3498db;
    margin: 3px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: height 0.3s ease;
}
#array {
    padding-top: 2em;
    
    
    
}

.bucket {
    overflow: hidden;
}
.same{
    height: 100px;
}



.rectangle.highlighted {
    background-color: red;
    color: white;
  }



.rectangle.sorted {
    background-color: green; 
}


.custom-margin {
    margin-left: 220px; 
}